<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Testing task</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary" href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'account_logout' %}">Выход</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Вход</a>
            <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Регистрация</a>

        {% endif %}


    </nav>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>